body {
    background-color: #1a1a2e;
    color: #e94560;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

canvas {
    background-color: #16213e;
    border: 4px solid #0f3460;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    image-rendering: pixelated; /* Mantém o estilo 32-bit nítido */
}

#hud {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    background: #0f3460;
    color: white;
}

.screen {
    margin-top: 100px;
    background: #0f3460;
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #e94560;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background: #e94560;
    color: white;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: 0.2s;
}

button:hover {
    background: #ff2e63;
    transform: scale(1.1);
}
